# SQL Assignment

## Question 1
(…150‑word answer…)

## Question 2
(…150‑word answer…)

## Question 3
(…150‑word answer…)

## Question 4
(…150‑word answer…)

## Question 5
(…150‑word answer…)

In [ ]:
-- Q7

       CustomerName                Email  TotalOrders
0  Alice Wonderland    alice@example.com            3
1   Bob the Builder      bob@example.com            2
2   Charlie Chaplin  charlie@example.com            1
3      Diana Prince    diana@example.com            0

In [ ]:
-- Q8

             ProductName    Price  StockQuantity CategoryName
0         T-Shirt Casual    20.00            300      Apparel
1  Novel : The Great SQL    25.00            120        Books
2           SQL Handbook    45.50            200        Books
3             Laptop Pro  1200.00             50  Electronics
4          Smart Speaker    99.99            150  Electronics
5       Wireless Earbuds   150.00            100  Electronics
6              Blender X   120.00             60   Home Goods
7           Coffee Maker    75.00             80   Home Goods

In [ ]:
-- Q9

  CategoryName            ProductName   Price  rn
0      Apparel         T-Shirt Casual    20.0   1
1        Books           SQL Handbook    45.5   1
2        Books  Novel : The Great SQL    25.0   2
3  Electronics             Laptop Pro  1200.0   1
4  Electronics       Wireless Earbuds   150.0   2
5   Home Goods              Blender X   120.0   1
6   Home Goods           Coffee Maker    75.0   2